.buttonCon {
  margin: 0 auto;
  .button {
    height: 3rem;
    width: 3rem;
    padding: 10px;
    margin: 5px;
    background: rgb(10, 10, 10);
    border-radius: 5rem;
    border: none;
    color: rgb(150, 218, 255);
  }
}
